{% extends "account/base.html" %}
{% block head_title %}- Vérification d'adresse email{% endblock %}
{% block content %}
<section id="verification_sent">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6">
        <div class="box">
            <h1>Email de vérification envoyé</h1>
            <p>Nous avons envoyé un email de verification. Ouvrez le lien fourni dans ce dernier afin de finaliser votre inscription. Merci de nous contacter si vous n'avez pas recu ce dernier d'ici quelques minutes.</p>
        </div>
    </div>
  </div>
</section>
{% endblock %}